.footer {
  background-color: #082D0F;
  padding:20px;
  margin-top: 20px;

}

.footer a {
  color: white;
  transition: color 300ms;
}

.footer a:hover {
  color: #5E807F;
}

.footer p {
  color: white;
  text-align: right;
}
